* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
}

header.main {
  padding: 10px 20px;
  border-bottom: 2px solid #e3e3e3;
  background-color: white;
}
header.main h1 {
  font-size: 20px;
}

.main-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  min-height: 87vh;
  padding-top: 25px;
}

.main-container > section {
  flex: 1 1 0px;
  margin: 15px 20px;
}

label,
input,
textarea {
  display: block;
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
}

input,
textarea {
  font: inherit;
  padding: 0.2rem 0.4rem;
  width: 100%;
  max-width: 30rem;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  background: #f3f3f3;
}

button {
  background: #74d77e;
  border: 1px solid #74d77e;
  cursor: pointer;
  color: white;
  padding: 0.75rem 1rem;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #00a876;
  border-color: #00a876;
}

.stories header {
  border-bottom: 2px solid #e3e3e3;
  height: 1.75rem;
  background-color: #f7f7f7;
}

#ready-stories header {
  border-color: #74e1f7;
}

#inprogress-stories header {
  border-color: #ffae3b;
}

#complete-stories header {
  border-color: #20891e;
}

.stories h2 {
  margin: 0;
  color: #333;
  font-size: 14px;
  display: inline;
}

.stories > header > span {
  font-family: sans-serif;
  font-size: 0.9em;
  opacity: 0.4;
}

.stories ul {
  list-style: none;
  margin: 10px 1px;
  padding: 0;
}

.stories li {
  background-color: white;
  border-radius: 2px;
  padding: 20px;
  margin: 10px 0;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(189, 189, 189, 1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(189, 189, 189, 1);
  box-shadow: 0px 1px 2px 0px rgba(189, 189, 189, 1);
}

.stories li h2 {
  margin: 0.5rem 0;
}

li p {
  margin: 0;
  font-family: sans-serif;
  text-align: right;
  font-size: 0.9em;
  opacity: 0.4;
}

#user-input {
  background-color: white;
  border-radius: 2px;
  padding: 20px;
  margin: 10px 0;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(189, 189, 189, 1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(189, 189, 189, 1);
  box-shadow: 0px 1px 2px 0px rgba(189, 189, 189, 1);
}

.draggable {
  -webkit-transition: translate 250ms, box-shadow 250ms;
  -moz-transition: translate 250ms, box-shadow 250ms;
  transition: translate 250ms, box-shadow 250ms;
}

.draggable:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.23);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  transform: translateY(-2px);
}

.droppable {
  background-color: #e8e8e8;
}
